.cart-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%; 
    width: 70%; 
    max-width: 350px; 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    z-index: 1000;
}

.show-cart-container {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.cart-container:not(.show-cart-container) {
    transform: translateX(100%);
}

.close-cart { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px;
    cursor: pointer;
    background-color: #111;
}

.close-icon {
    font-size: 25px;
    /* color: #111; */
    color: #fff;
}

.cart-title {
    font-size: 1.2rem; 
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    color: #111;
    border-bottom: 1px solid #ddd;
    margin: 0;
    margin-bottom: 15px; 
}

.each-cart {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.each-cart:hover {
    background-color: #dfdada52;
}

.cart-image-container {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.cart-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cart-description {
    margin-left: 0.8em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item-name {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.1em;
}

.cart-item-totalprice {
    font-size: 0.9rem;
    font-weight: bold;
    /* color: #111; */
    color: #E2A500;
}

.cart-item-size {
    font-size: 0.8rem;
    color: #5555559f;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-button {
    color: #111;
    background-color: transparent;
    border: none;
    padding: 0.4em; 
    border-radius: 15px;
    font-size: 1.2rem; 
    cursor: pointer;
}

.quantity-button:hover {
    color: #fff;
    background-color: #111;
}

.quantity-display {
    margin: 0 0.5em;
    font-size: 0.9rem; 
    font-weight: bold;
    color: #E2A500;
}

.remove-button {
    border: none;
    background: none;
    color: #fff;
    background-color: #111;
    cursor: pointer;
    font-size: 1.1rem; 
    margin-top: 10px;
    transition: transform 0.2s;
}

.cart-checkout-container {
    margin-top: 20px;
    padding: 1em;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    text-align: center;
    /* display: flex; */
    /* justify-content: space-between; */
}

.total-price-container {
    font-size: 1.1rem;
    font-weight: bold;
    /* margin-bottom: 1em; */
    color: #111;
    
    /* flex: 2; */
    /* position: relative; */
    /* bottom: -25px; */
    
    display: flex; 
    justify-content:center;
    flex-direction: column;
}

.total-price-container #total-Price {
    color: #111;
}
/* .checkout-button-container {
    text-align: right;
    flex: 1;
} */
.remove-button {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.total-price-display {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

#total-Price {
    font-size: 18px;
    font-weight: 900;
}

@media (max-width: 768px) {
    .cart-container {
        width: 85%;
    }

    .cart-title {
        font-size: 1.3rem; 
    }

    .cart-item-name {
        font-size: 0.9rem;
    }

    .cart-item-totalprice, .cart-item-size {
        font-size: 0.8rem;
    }
}
