.main-cart-item-container {
    /* border: 2px solid red; */
    width: 90%;
    /* height: 100vh; */
    /* height: 100%; */
    max-width: 1350px;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
}

.main-text-display {
    /* border: 2px solid red; */
    display: flex;
    margin-bottom: 20px;
    color: #959595;
}

.text-cont {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    gap: 10px;
}

.text-selected {
    color: #111;
    /* font-size: 16px; */
        /* color: #4CAF50; */
        font-weight: bold;
}

/* .continue-button {
    color: #767676;
    flex: 1.1;
}

.text-continue {
    font-size: 16px;
    padding: 5px;
    border: 1px solid red;
    text-align:center;
    font-weight: 500;
}
.text-continue:hover {
    border-bottom: 2px solid #E2A500;
} */

.child-cart-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    /* height: 100%; */
    margin-bottom: 50px;
}

.cart-info-container {
    flex: 3;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.1);
}

.order-cash-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 30%; */
    flex: 1.2;
    /* border: 2px solid red; */
    margin-bottom: auto;
    position: sticky;
    top: 15px;
}

.order-summary-container {
    /* border: 2px solid red; */
    /* flex: 1.2; */
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.1);
}

.cash-summary-container {
    /* border: 2px solid red; */
    /* flex: 1.2; */
    padding: 20px;
    margin-top: 15px;
    margin-left: 20px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.1);
}

.cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    border-top: 1px solid #a2a2a2;
}

.cart-items img {
    width: 100px;
    /* height: auto; */
    /* border: 1px solid red; */
}

.cart-items-info {
    flex: 1;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;
    /* border: 1px solid red; */
}

.cart-item-name {
    font-size: 1.2rem;
}

.cart-item-size {
    margin-top: 10px;
    font-size: 14px;
}

.cart-item-price {
    font-weight: bold;
    margin-top: 10px;
    color: #E2A500;
    font-size: 1.1rem;
}

.cart-item-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.cart-item-delete button {
    /* float: left; */
    background-color: transparent;
    color: #111;
    font-size: 20px;
    border: none;
    /* padding: 5px 10px; */
    cursor: pointer;
}

.cart-item-delete .action-update-btn {
    /* margin-left: 10px; */
    /* float: left; */
    /* border: 1px solid red; */
    margin-top: auto;
}

.cart-item-delete .action-delete-btn {
    /* margin-left: 10px; */
    /* float: right; */
    /* border: 1px solid red; */
    margin-top: auto;
}

.cart-item-delete button:hover {
    color: #E2A500;
}

.order-summary-container {
    margin-bottom: auto;
}

.order-summary-container .order-summary {
    /* border-bottom: 2px solid #f0f0f0; */
    padding-bottom: 10px;
    /* margin-bottom: 15px; */
}

.order-summary-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.checkout-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.estimated-price {
    font-size: 14px;
    margin-top: 10px;
    color: #111;
}

.subtotal-price {
    font-size: 24px;
    margin-top: 5px;
    /* margin-top: auto; */
    color: #E2A500;
}

.checkout-btn {
    background-color: #111;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
}

.checkout-btn:hover {
    opacity: .6;
}

.item-button {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-delete-all-btn {
    background-color: #111;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.action-delete-all-btn:hover {
    opacity: .6;
}

.cart-size-quantity-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px solid red; */
}

.main-cash-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
    gap: 10px;
}

.main-cash-container img {
    width: 80px;
    height: auto;
    /* border: 1px solid red; */
}

.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    /* margin: 12rem auto; */
    /* color: #959595; */
    height: 85%;
    color: #a2a2a2;
}

.empty-container h1 {
    font-weight: 300;
    font-size: 18px;
}

.payment-option {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: auto;
}

.payment-option img {
    width: 80px;
    height: auto;
    cursor: auto;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 15px;
    cursor: pointer;
}

.another-child-cart-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding: 20px; */
    /* box-shadow: 0 0 15px 3px rgba(0,0,0,.1); */
}

.billing-address-container {
    width: 100%;
    flex: 3;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.1);
}

.billing-form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    border: 1px solid #95959556;
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    /* margin-bottom: 5px; */
    color: #111;
    font-weight: 600;
    margin-right: auto;
    cursor: auto;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: none;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: #111;
}

.billing-form input[type="text"],
.billing-form input[type="email"],
.billing-form input[type="tel"] {
    width: 100%;
    /* border: 1px solid red; */
}

.payment-section{
    flex: 3;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */
    margin-right: 20px;
}

.order-details-section {
    flex: 1.2;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    /* border: 1px solid red; */
}

.payment-section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.qr-code-container {
    text-align: center;
    /* border: 1px solid red; */
    flex: 1.2;
    margin-bottom: 25px;
}

.qr-code-image {
    max-width: 75%;
    height: auto;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.form-payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex: 1;
    height: 100%;
    /* border: 1px solid red; */
    margin-bottom: auto;
}

input[type="file"] {
    display: none; 
}

.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e2a500;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    /* border-radius: 25px; */
    transition: background-color 0.3s ease;
}

.custom-file-label:hover {
    background-color: #c18a00;
}

.upload-btn {
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 10px;
    width: 100%;
}

.upload-btn:hover {
    background-color: #444;
}

.order-details-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: auto;
    position: sticky;
    top: 15px;
}

.order-detail {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    /* border-bottom: 1px solid #e0e0e0; */
    padding-bottom: 5px;
}

.total-to-pay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e2a500;
}
.back-button{
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    width: 100%;
}

.back-button:hover {
    background-color: #444;
}

@media (max-width: 786px) {

    .main-cart-item-container {
        margin: 2rem auto;
    }
    
    .child-cart-container {
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 10px;
    }
    .cart-info-container {
        width: 100%;
    }

    .order-cash-container {
        gap: 10px;
    }

    .order-summary-container {
        margin-left: 0;
    }
    
    .cash-summary-container {
        margin-left: 0;
    }

    .payment-option {
        height: 100%;
    }

    .billing-address-container {
        margin-bottom: 15px;
    }

    .billing-form {
        gap: 10px;
    }

    .payment-section {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .order-details-section {
        width: 100%;
    }
}