.profile-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    margin: 25px auto;
    max-width: 1300px;
    /* width: 100%; */
    padding: 35px 35px;
    /* height: 100vh; */
    min-height: 100vh;
}

.sidebar-container {
    width: 25%;
    background: #fff;
    padding: 20px;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: auto;
    /* border: 1px solid red; */
}

.sidebar-container .section-action h4 {
    font-size: 16px;
    color: #111;
    margin-bottom: 15px;
}

.sidebar-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-container ul li {
    margin-bottom: 10px;
}

.sidebar-container ul li a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar-container ul li a:hover {
    background-color: #f0f0f0;
}

.acount-info-container {
    /* border: 1px solid red; */
    width: 100%;
    background: #fff;
    margin-left: 20px;
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    /* padding: 30px; */
    padding: 25px 25px;
    /* overflow-wrap: anywhere; */
    margin-bottom: auto;
    height: 100%;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab h1 {
    font-size: 24px;
    color: #111;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    /* border: 1px solid red; */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #111;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid #111;
    border-radius: 5px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    color: #555;
    border-bottom: 1px solid #111;
    border-radius: 5px;
}

.info-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #fff;
    /* border-bottom: 1px solid #111; */
    text-align: left;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #111;
    cursor: pointer;
}

.table-orders-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    position: relative;
}

.table-orders-container {
    width: 100%;
    overflow-x: auto; 
    margin: 0 auto; 
}

.orders-table {
    width: 100%;
    border-collapse: collapse; 
    font-size: 14px;
}

.orders-table th,
.orders-table td {
    text-align: left;
    padding: 12px 25px;
}

.orders-table th {
    font-weight: bold;
}

.orders-table td {
    color: #555;
}

.order-status {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 8px 12px;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333;
}

.order-status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
}
  
.order-status.paid {
    /* background-color: #4caf50;  */
    background-color: #28a745;
    color: white; 
}
  
.order-status.unpaid {
    background-color: #f44336; 
    color: white; 
}

.order-status.approved {
    background-color: #28a745;
    /* background-color: #4caf50; */
    color: #fff;
}

.order-status.pending {
    background-color: #ffc107;
    color: #fff;
}

.order-status.cancelled {
    background-color: #f44336; 
    /* background-color: #dc3545; */
    color: #fff;
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.notification-item:hover {
    background-color: #f0f0f0;
}

.notification-content {
    max-width: 80%;
}

.notification-content h4 {
    font-size: 16px;
    color: #333;
    margin: 0 0 5px;
}

.notification-content p {
    font-size: 14px;
    color: #666;
    margin: 0;
    line-height: 1.5;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    /* gap: 5px; */
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn.save {
    background-color: #111;
    color: #fff;
}

.btn.cancel {
    background-color: #111;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

@media (max-width: 786px) {

    .profile-container {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        width: 100%;
        padding: 0px;
    }
    
    .sidebar-container {
        width: 100%;
    }

    .acount-info-container {
        margin-left: 0;
    }

    .orders-table {
        font-size: 12px;
    }
    .orders-table th,
    .orders-table td {
        padding: 8px 10px;
    }

}