.profile-container {
    max-width: 800px;
    margin: 7.5em auto;
}

.profile-header {
    text-align: center;
    color: #E2A500;
    font-size: 1.5rem;
    background-color: #111;
    padding: 10px 25px;
}

.profile-details {
    background-color: #ddd;
    padding: 25px 25px;
    font-size: 1.2rem;
}

.profile-details p {
    margin-bottom: 20px;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.profile-actions button {
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}