.profile-container {
    /* border: 1px solid red; */
    display: flex;
    margin: 25px auto;
    max-width: 1050px;
}

.profile-details {
    /* border: 1px solid blue; */
    /* background-color: #ddd; */
    background-color: #ffff;
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    /* border-radius: 2.5px; */
    padding: 25px 25px;
    /* font-size: 1rem; */
    width: 100%;
    min-width: 55vw;
}

.profile-details p {
    margin-bottom: 15px;
}

.profile-actions {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    /* border: 1px solid red; */
    /* padding: 10px; */
}

.profile-actions button {
    padding: 10px 20px;
    background-color: #111111f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .btn-container{
    border: 1px solid red;
} */

.btn-container button {
    padding: 10px 20px;
    background-color: #111111f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

input[type="text"], input[type="email"] {
    padding: 10px 20px; 
    border-radius: 5px;
    border: none;
    width: 100%; 
    /* background-color: #fff; */
    /* background-color: #ddd; */
    border-bottom: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
input[type="tel"] {
    padding: 10px 20px; 
    border-radius: 5px;
    width: 100%; 
    border: none;
    /* background-color:  #111; */
    border-bottom: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
} 
input[type="password"] {
    padding: 10px 20px; 
    border-radius: 5px;
    width: 100%; 
    border: none;
    /* background-color:  #111; */
    border-bottom: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
} 
input::placeholder {
    color: #000;
}
select{
    padding: 10px 20px; 
    border-radius: 5px;
    width: 100%; 
    border: none;
    outline: none;
    border-bottom: 2px solid #111;
    display: flex;
}

.profile-details .display {
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px 20px; 
    border-radius: 5px;
    background-color: #fff;
}


#message {
    display:none;
    position: absolute;
    z-index: 1200;
}

#message2 {
    display:none;
    position: absolute;
    z-index: 1200;
}

.message-container.current{
    position: relative;
    top: 95px;
    left: 310px;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    color: #000;
    padding: 20px;
    /* display: none; */
}

.message-container.new{
    position: relative;
    top: 175px;
    left: 310px;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    color: #000;
    padding: 20px;
}
  
#message p {
    padding: 10px 35px;
    font-size: 12px;
}

#message2 p {
    padding: 10px 35px;
    font-size: 12px;
}

.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

.invalid {
    color: red;
}
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

.valid1 {
    color: green;
}
  
.valid1:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

.invalid1 {
    color: red;
}
  
.invalid1:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

.check-container {
    display: flex;
    position: relative;
    /* border: 1px solid red; */
    position: relative;
    padding-left: 30px;
    user-select: none;
    margin-bottom: 12px;
}
.check-container input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
    background-color: #111;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

@media (max-width: 786px) {
    .profile-container {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .profile-actions {
        margin-right: 0;
        margin-bottom: 10px;
        flex-direction: row;
        justify-content: center;
    }
}